* {
    box-sizing: border-box;
}

body {
    font-family: "Helvetica Neue",Helvetica,arial,nimbussansl,liberationsans,freesans,clean,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 1rem;
    margin: 0;
    background-color: rgba(86, 23, 121, .05);
}

a {
	color: #561779;
    text-decoration: none;
    background-color: transparent;
}

a:hover {
    text-decoration: none;
}

footer {
    margin-top: 3rem;
}

.container {
    width: auto;
    max-width: 1200px;
    padding-left: 20px;
    padding-right: 20px;
}

.columns {
	margin-right: 0;
	margin-left: 0;
}

.masthead {
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-align: center;
    background-color: #561779;
}

.masthead .landscape {
    padding-left: 1rem;
    padding-right: 1rem;
}

@media (min-width: 34em) {
    .masthead .masthead-logo {
        float: left;
    }
}

.masthead .masthead-logo {
    display: inline-block;
    font-size: 2.5rem;
    color: #fff;
    font-family: "Sacramento", cursive;
}

.masthead .masthead-logo img {
    float: left;
    margin-right: .5rem;
    width: 4rem;
}

@media (min-width: 34em) {
    .masthead-nav {
        float: right;
        margin-top: .5rem;
    }
}

.masthead-nav {
    font-size: 1rem;
}

.masthead-nav a {
    display: inline-block;
    color: #fff;
    margin-left: .5rem;
}

.masthead-nav .fa-search {
	color: #561779;
}

.main .columns {
    margin-top: 3rem;
}

.carousel {
    position: relative;
    overflow: hidden;
    padding-left: 1rem;
    padding-right: 1rem;
}

.carousel .landscape {
    position: relative;
    overflow: hidden;
    background-color: #fff;
}

.carousel .column {
    padding: 0;
}

.carousel .two-thirds {
    width: 62%;
    float: left;
}

.carousel img {
    max-width: 100%;
}

.carousel .one-third {
    padding: 1rem;
    width: 38%;
}

.carousel .title {
    padding-top: 2rem;
    font-family: "Sacramento";
    font-size: 2.3rem;
}

.carousel .description {
    padding-top: 4rem;
}

/* Line header */

.line-header {
	display: block;
	position: relative;
	overflow: hidden;
	padding: 1rem 1rem 0 1rem;
}

.line-header div {
    border-bottom: 1px solid #561779;
	font-family: "Sacramento";
    font-size: 2rem;
    padding-bottom: .5rem;
}

/* Cards */

.columns.cards {
    margin-top: 1rem;
}

.card {
	display: block;
	position: relative;
	overflow: hidden;
	padding: 1rem 1rem 0 1rem;
}

.card div {
	background: white;
}

.card .info {
    padding: .5rem;
}

.card .info p {
    margin-top: 1rem;
}

.info .title {
	font-family: "Sacramento";
    font-size: 2rem;
}

.card .recipe {
	border-bottom: 8px solid #2A9E90;
	max-width: 100%;
}

.card .post {
	border-bottom: 8px solid #86BBD8;
	max-width: 100%;
}

/* Blog */

.blog {
    background-color: white;
}

.blog img {
    max-width: 100%;
}

.blog .title {
    padding-top: 2rem;
    margin-bottom: 5rem;
    font-family: "Sacramento";
    font-size: 3rem;
    text-align: center;
}
