* {
    box-sizing: border-box;
}

body {
    font-family: "Helvetica Neue",Helvetica,arial,nimbussansl,liberationsans,freesans,clean,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 1rem;
    margin: 0;
}

a {
	color: #86BBD8;
  text-decoration: none;
  background-color: transparent;
}

a:hover {
    text-decoration: none;
}

footer {
    margin-top: 3rem;
}

.container {
    width: auto;
    max-width: 1400px;
    padding-left: 20px;
    padding-right: 20px;
}

.columns {
	margin-right: 0;
	margin-left: 0;
}

.masthead {
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-align: center;
    background-color: #86BBD8;
}

.masthead .landscape {
    padding-left: 1rem;
    padding-right: 1rem;
}

@media (min-width: 34em) {
    .masthead .masthead-logo {
        float: left;
    }
}

.masthead .masthead-logo {
    display: inline-block;
    font-size: 3rem;
    color: #fff;
    font-family: "Sacramento", cursive;
}

@media (min-width: 34em) {
    .masthead-nav {
        float: right;
        margin-top: .5rem;
    }
}

.masthead-nav {
    font-size: 1rem;
}

.masthead-nav a {
    display: inline-block;
    color: #fff;
    margin-left: .5rem;
}

.main .columns {
    margin-top: 3rem;
}

.three-fourths{
  width: 65%
}

.one-fourths{
  width: 35%
}

.feed {
	border-right: 1px solid rgb(229, 229, 229)
}

.episode {
	margin-top: 1rem;
}

.episode .title {
	font-family: Sacramento;
  font-size: 2rem;
}

.episode-small {
	border-top: 1px solid rgb(229, 229, 229);
	margin-top: 1.2rem;
  padding-top: .8rem;
}

.episode-small .title {
	font-family: Sacramento;
  font-size: 1.5rem;
}

.about div {
	margin-bottom: 1rem;
}

.bio p {
	margin-left: 5.5rem;
}

.bio a {
	font-size: 0.8rem;
	color: #7D8491;
}

.logo p {
	margin-top: 1rem;
	margin-left: 5.5rem;
}

.logo img {
	float: left;
	position: relative;
	max-width: 80px
}

.avatar {
	float: left;
	position: relative;
	max-width: 80px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	-webkit-box-shadow: 0 0 0 1px #fff, 0 0 0 2px rgb(229,229,229), 0 1px 1px 2px rgb(229,229,229);
	-moz-box-shadow: 0 0 0 1px #fff, 0 0 0 2px rgb(229,229,229), 0 1px 1px 2px rgb(229,229,229);
	box-shadow: 0 0 0 1px #fff, 0 0 0 2px rgb(229,229,229), 0 1px 1px 2px rgb(229,229,229);
}

.about,
.social {
	margin-top: 1.5rem;
}

.callout {
	border: 1px solid #86BBD8;
  text-align: center;
  margin-top: 1.5rem;
  padding: .5rem;
}
