<!DOCTYPE html>
<html lang="en">
  <head>
    {{ partial "header.html" . }}
  </head>
  <body>
    {{ partial "navigation.html" . }}

    <div class="container">
      {{ partial "share.html" . }}

      <div class="main content">
        <article>
          <header><h1>{{ .Title }}</h1></header>
          <img src="{{ .Params.thumbnail }}" alt="{{ .Params.thumbnailAlt }}"/>

          <div>{{ .Content }}</div>
        </article>
      </div>

      <div class="main comments">
        {{ template "_internal/disqus.html" . }}
      </div>
    </div>

    {{ partial "footer.html" }}
    <script>$(".share-this-post").stick_in_parent();</script>
  </body>
</html>
