<div class="card">
  <a href="{{ .Permalink }}"><img class="card-img-top img-fluid" src="{{ .Params.thumbnail }}" alt="{{ .Params.thumbnailalt }}"></a>
  <div class="card-block">
    <h4 class="card-title"><a href="{{ .Permalink }}">{{ .Title }}</a></h4>
    <p class="card-text">{{ .Params.description }}</p>
    <p class="card-text">
      <small class="text-muted">
        Posted in <a href="/{{ .Section }}">{{ .Section }}</a> <relative-time datetime="{{ .Date }}">{{ .Date }}</relative-time>
      </small>
    </p>
  </div>
</div>
