{{ partial "search.html" . }}
{{ $subPath := (trim (.Permalink | relURL) "/") }}

<nav class="navbar navbar-light bg-faded">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-12"> <!-- middle column -->
        <a href="/" class="logo">Vegan Dollhouse</a>

        <div class="pull-xs-right">
          <ul class="nav navbar-nav">
            <li class="nav-item">
              <a id="show-search" class="nav-link" href="#"><i class="fa fa-search"></i></a>
            </li>
            <li class="nav-item">
              <a class="nav-link {{ if eq $subPath "about" }}active{{ end }}" href="/about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link {{ if eq $subPath "blog" }}active{{ end }}" href="/blog">Blog</a>
            </li>
            <li class="nav-item">
              <a class="nav-link {{ if eq $subPath "events" }}active{{ end }}" href="/events">Events</a>
            </li>
            <li class="nav-item">
              <a class="nav-link {{ if eq $subPath "recipes" }}active{{ end }}" href="/recipes">Recipes</a>
            </li>
          </ul>
        </div>
      </div>
    </div>

  </div>
</nav>
